<script src="/scripts/socket.io.js"></script>
<script>
  var socket = io("<%- sockAddress %>");
  const hidden = "hidden";
  const empty = "";
  const songLyricElement = $("#songLyrics");
  const verseElement = $("#verse");
  const referenceElement = $("#reference");
  var song = $("#song");
  var scripture = $("#scripture");
  const duration = 250;

  socket.on("formOpenSong", function (DataFromNode) {
    if (DataFromNode.type == "song") DisplaySong(DataFromNode);
    if (DataFromNode.type == "scripture") DisplayScripture(DataFromNode);
    if (DataFromNode.type == "blank") DisplayBlank();
  });

  function DisplayScripture(data) {
    FadeOut(song);

    scripture.fadeOut(duration, function () {
      if ((data.verse !== undefined && data.verse !== empty) &&
          (data.reference !== undefined && data.reference !== empty)) {
      verseElement.text(data.verse);
      referenceElement.text(data.reference);
        $(this).fadeIn(duration);
      }
    });
  }

  function DisplaySong(data) {
    FadeOut(scripture);

    song.fadeOut(duration, function () {
      if (data.lyric !== undefined && data.lyric !== []) {
        songLyricElement.empty();
        data.lyric.forEach(element => {
          songLyricElement.append(`<p>${element}</p>`);  
        });
        // $(this).find("#songLyrics").text(data.lyric);
        $(this).fadeIn(duration);
      }
    });
  }

  function DisplayBlank() {
    song.fadeOut(duration, function () {
      songLyricElement.empty()
    });

    scripture.fadeOut(duration, function () {
      verseElement.text(empty);
      referenceElement.text(empty);
    });
  }

  function FadeOut(selector) {
    $(selector).fadeOut(duration);
  }

  function FadeIn(selector) {
    $(selector).fadeIn(duration);
  }
</script>
