#song {
  /* background: black; */
  position: absolute;
  bottom: 50px;
  text-align: center;
  /* right: 15rem;
  left: 15rem; */
  text-transform: uppercase;
  color: white;
}

#songLyrics {
  background: #2a2a2a;
  font-size: 3rem;
  font-family: 'CMG Sans Medium';
  letter-spacing: 4px;
  padding: 1rem;
  margin: 0rem 10rem;
}

#debugger {
  color: red;
  font-size: 62px;
  font-weight: bold;
}

#verse {
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

#scripture {
  font-size: 40px;
  font-weight: light;
  color: #2f3036;
  background: #ebebe9;
  margin-left: 3rem;
  margin-right: 3rem;
  position: absolute;
  bottom: 60px;
  border-bottom: 5px solid #ff5400;
  right: 0px;
  z-index: 1000;
  font-family: 'CMG Sans Medium Cn';
}

#reference,
#version {
  font-size: 38px;
  font-weight: bold;
}

#where {
  background-color: rgba(235,235,233,1);
  text-align: right;
  width: max-content;
  position: absolute;
  right: 20px;
  bottom: -60px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
border-right: 5px solid #ffaa01;
border-radius: 0px 0px 10px 10px;
border-bottom: 5px solid #ffaa01;
border-left: 5px solid #ffaa01;
z-index: 10;
box-shadow: 0px 2px 11px #2f3036a8;
font-family: 'CMG Sans Light';
}

body {
  background: #ffffff00;
}
